@charset "utf-8";
/* CSS Document */
.alert-fixed {
	position:fixed;
	top:70px;
	right:10px;
	z-index:9999;
	min-width:400px;
	min-height:100px;
}
.alert-fixed p {
	white-space:nowrap;
}

body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #F7F7F7;
}
.form-signin {
	max-width: 345px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}



/* BOOTSTRAP */
.btn-primary {
	color: #BECC2A;
	background-color: #4E4C4E;
	border-color: #4E4C4E;
}
.btn-primary:focus,
.btn-primary.focus {
	color: #4E4C4E;
	background-color: #BECC2A;
	border-color: #BECC2A;
}
.btn-primary:hover {
	color: #4E4C4E;
	background-color: #BECC2A;
	border-color: #BECC2A;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	color: #4E4C4E;
	background-color: #BECC2A;
	border-color: #BECC2A;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
	color: #4E4C4E;
	background-color: #BECC2A;
	border-color: #BECC2A;
}
.form-control:focus {
	border-color: #BECC2A;
}
.alert-danger, .alert-error {
    color: #fff;
}

/* SELECT 2 */
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #555;
    padding: 10px;
	font-size: 16px;
	line-height: 23px;
}
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    height: auto;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 43px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #4E4C4E;
	color: #BECC2A;
}

/* EXTRAS */
.help-stick-close {
	position: fixed;
	top: 60%;
	left: 0;
	width: 40px;
	height: 180px;
	background-color: #BECC2A;
    border-radius: 0 4px 4px 0;
	border: medium none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
    margin-right: 0;
    overflow: hidden;
    z-index: 10000;
    transition: width 1s linear;
	-moz-transition: width 1s linear;
	-webkit-transition: width 1s linear;
}
.help-stick-open {
	position: fixed;
	top: 60%;
	left: 0;
	width: 270px;
	height: 180px; 
	background-color: #BECC2A;
    border-radius: 0 4px 4px 0;
	border: medium none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
    margin-right: 0;
    overflow: hidden;
    z-index: 10000;
    transition: width 1s linear;
	-moz-transition: width 1s linear;
	-webkit-transition: width 1s linear;
}
.help-stick-title {
	transform: rotate(270deg);
    transition: none 0s ease 0s ;
    bottom: 70px;
    color: #4E4C4E;
    height: 40px;
    line-height: 18px;
    position: absolute;
    right: -70px;
    width: 180px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
	cursor: pointer;
}
.help-stick-content {
    top: 0px;
    color: #4E4C4E;
    height: 180px;
    line-height: 18px;
    position: absolute;
    right: 40px;
    width: 220px;
	text-align: center;
	font-size: 12px;
	border-right: 1px dashed #4E4C4E;
	padding: 20px 10px 0 0;
}
.link-underline,
.link-underline:focus,
.link-underline:hover
{
	text-decoration: underline;
}
img.center-block{
	width: 125%;
	margin-left: -45px;
}